# Enable rewrite engine
RewriteEngine On

# Redirect non-existent files and directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Disable directory browsing
Options -Indexes

# Deny access to hidden files (files that start with a dot)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>